@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik; }

p {
  font-family: Roboto; }

h2 {
  text-align: center; }

#about {
  background-color: red;
  height: 300px; }

#products {
  background-color: blue;
  height: 300px; }

#custom {
  background-color: green;
  height: 300px; }

#contact {
  background-color: white; }
  #contact p {
    margin: 0px; }

.carousel-inner p {
  margin-bottom: 175px; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/tree.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/tree.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/tree.jpg");
  background-size: cover; }
