@import url("https://fonts.googleapis.com/css?family=Rubik|Roboto");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik; }

p {
  font-family: Roboto; }

#about {
  background-color: red;
  height: 300px; }

#products {
  background-color: blue;
  height: 300px; }

#custom {
  background-color: green;
  height: 300px; }

#contact {
  background-color: white; }
